[alias]
    a = add
    b = branch

    c = commit --verbose
    cm = commit -m

    co = checkout
    cob = checkout -b

    d = diff
    ds = diff --stat
    dc = diff --cached
    dh = diff HEAD --
    
    l = log
    lo = log --oneline

    s = status
    sb = status -sb

    r = reset HEAD --

[user]
    email = 
    name = 

[url "https://"]
    insteadOf = git://

[url "https://www.github.com/"]
    insteadOf = git@github.com:

[core]
    autocrlf = input
    editor = nano
